
            <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-xl px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="user"></i></div>
                                            Usuário
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-4">
                      <hr class="mt-0 mb-4" />
                        <div class="row">
                          <div class="col-xl-4">
                            <div class="card mb-4 mb-xl-0">
                              <div class="card-header"></div>
                                <div class="card-body text-center">
                               
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-8">
                              <div class="card mb-4">
                                <div class="card-header">Informações Detalhada</div>
                                   <div class="card-body">
                                     <form>
                                      <div class="p-2 mb-1">
                                        <label class="fw-bold small mb-1" for="inputUsername">Nome:</label>
                                        <div class="fw-bold shadow-none  bg-body-tertiary rounded"> </div>
                                      </div>
                                            <p class="fs-6 fw-bold">Documetos:</p>
                                            <hr class="mt-0 mb-4" />
                                            <div class="row gx-3 mb-3 p-2 mb-1">
                                            <!-- Form Row-->
                                            <div class="row gx-3 p-2 mb-1">
                                                <!-- Form Group (first name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputFirstName">Nome do Pai:</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"> ></div>
                                                </div>
                                                <!-- Form Group (last name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLastName">Nome da Mãe:</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"></div>
                                                </div>
                                            </div>
                                            <!-- Form Row        -->
                                            <div class="row gx-3 p-2 mb-1">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputOrgName">Data do Nascimento:</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"></div>
                                                </div>
                                                <!-- Form Group (location)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLocation">Cidade do nascimento:</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"> </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="row gx-3 mb-3 p-2 mb-1">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputOrgName">Estado</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"> </div>
                                                </div>
                                                <!-- Form Group (location)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLocation">País</label>
                                                    <div class="fw-bold shadow-none  bg-body-tertiary rounded"></div>
                                                </div>
                                            </div>
                                            <p class="fs-6 fw-bold">Maçônaria:</p>
                                             <hr class="mt-0 mb-4" />
                                            <div class="row gx-3 mb-3 p-2 mb-1">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputOrgName">Nacionalidade:</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"></div>
                                                </div>
                                                <!-- Form Group (location)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLocation">Tipo sanguinio:</label>
                                                    <div class="fw-bold shadow-none  bg-body-tertiary rounded"></div>
                                                </div>
                                            </div>
                                            <div class="row gx-3 mb-3 p-2 mb-1">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputOrgName">Estado cívil</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"></div>
                                                </div>
                                                <!-- Form Group (location)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLocation">CPF:</label>
                                                    <div class="fw-bold shadow-none  bg-body-tertiary rounded"></div>
                                                </div>
                                            </div>
                                            <div class="row gx-3 mb-3 p-2 mb-1">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputOrgName">Email:</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"></div>
                                                </div>
                                                <!-- Form Group (location)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLocation">Celular:</label>
                                                    <div class="fw-bold shadow-none  bg-body-tertiary rounded"> </div>
                                                </div>
                                            </div>
                                            <div class="row gx-3 mb-3 p-2 mb-1">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputOrgName">Telefone:</label>
                                                    <div class="fw-bold shadow-none bg-body-tertiary rounded"></div>
                                                </div>
                                                <!-- Form Group (location)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLocation">Administrador:</label>
                                                    <div class="fw-bold shadow-none  bg-body-tertiary rounded"> </div>
                                                </div>
                                            </div>
                                            </div>
                                        </form>
                                        <div class="button-container">
                                        <%= link_to "Criar", new_backoffice_user_path, class: 'btn btn-primary' %>
                                        <%= link_to "Editar", edit_backoffice_user_path(:user_id), class: 'btn btn-warning' %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer-admin mt-auto footer-light">
                    <div class="container-xl px-4">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2021</div>
                            <div class="col-md-6 text-md-end small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    </body>